<div class="content-block dx-card responsive-paddings">
    <h2>Relatórios</h2>
    <hr>

    <div class="row">

        <!--        Relatorio 1-->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-5" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Produtos e Chopes</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Relatório que descreva o saldo de cada produto do estoque da cozinha e do chope.
                    </p>
                    <a routerLink="/relatorio-saldo-produtos-estoque"
                       class="btn btn-outline-white text-secondary">Acessar</a>
                </div>
            </div>
        </div>

        <!--        Relatorio 2-->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-5" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Produtos em estoque</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Relatório que demonstre somente os produtos que estão com estoque no momento da encomenda.
                    </p>
                    <a routerLink="/relatorio-saldo-produtos-estoque-maior-zero"
                       class="btn btn-outline-white text-secondary">Acessar</a>
                </div>
            </div>
        </div>

        <!--        Relatorio 3-->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-5" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Chopes mais consumidos</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Um relatório dos chopes mais consumidos em um determinado período.
                    </p>
                    <a routerLink="/relatorio-chopes-mais-consumidos"
                       class="btn btn-outline-white text-secondary">Acessar</a>
                </div>
            </div>
        </div>

        <!--        Relatorio 4-->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-5" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Compras dos clientes</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Um relatório listando o nome do cliente e o valor comprado em um intervalo de data, ordenado
                        pelo valor.
                    </p>
                    <a routerLink="/relatorio-compras-clientes"
                       class="btn btn-outline-white text-secondary">Acessar</a>
                </div>
            </div>
        </div>

        <!--        Relatorio 5-->
<!--        <div class="col-lg-4 col-md-6">-->
<!--            <div class="card mb-5" style="width: 18rem;">-->
<!--                <div class="card-header">-->
<!--                    <h5 class="card-title">Envio de email</h5>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <p class="card-text">-->
<!--                        Uma opção de envio de email para todos os clientes que compraram em um determinado período de-->
<!--                        tempo. O texto deve ser informado no momento do envio.-->
<!--                    </p>-->
<!--                    <a routerLink="/relatorio-saldo-produtos-estoque"-->
<!--                       class="btn btn-outline-white text-secondary">Acessar</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!--        Relatorio 6-->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-5" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Receita x Despesas</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Um relatório que demonstre a receita x despesas em um período.
                    </p>
                    <a routerLink="/receita-despesa"
                       class="btn btn-outline-white text-secondary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>

