<dx-load-panel
    [hideOnOutsideClick]="false"
    [(visible)]="isLoadPanelVisible">
</dx-load-panel>

<dx-toolbar [classList]="'toolbar'">
    <dxi-item location="before">
        <div [classList]="'label-toolbar'">
            Alterar preço do self service
        </div>
    </dxi-item>

    <dxi-item location="after">
        <dx-button [classList]="'botoes-toolbar'" icon="save" type="success" text="Salvar"
                   (onClick)="onSalvar($event)"></dx-button>
    </dxi-item>
</dx-toolbar>

<div class="content-block dx-card responsive-paddings">
    <ng-container>
        <div class="col-sm-8 col-md-6">
            <label>Preço do self service por kg:</label>
            <dx-number-box format="R$ #.##0,##" [(value)]="precoSelfService"></dx-number-box>
        </div>
    </ng-container>
</div>

