<div class="content-block dx-card responsive-paddings">
    <h2>Associações Correntes</h2>


    <div class="actions-table">

        <div class="row">
            <div class="col-sm-8 col-md-6">
                <dx-text-box></dx-text-box>
            </div>
            <div class="col-4">
                <dx-button stylingMode="outlined" type="success" icon="plus" hint="Adicionar produto"
                           (onClick)="onClickNovo()">
                </dx-button>
<!--                <dx-button stylingMode="outlined" type="success" icon="cart" hint="Fechar Contas"-->
<!--                           (onClick)="onFecharContasClick()">-->
<!--                </dx-button>-->
                <dx-button stylingMode="outlined" type="success" icon="inactivefolder" hint="Histórico"
                           (onClick)="onHistoricoClick()">
                </dx-button>

            </div>
        </div>

        <dx-data-grid [dataSource]="entidades" keyExpr="id">

            <dxi-column dataField="cartaoRFID.codigo" caption="Cartão"></dxi-column>
            <dxi-column dataField="cliente.nome" caption="Cliente"></dxi-column>
            <dxi-column dataField="cliente.cpf" caption="CPF" [calculateCellValue]="showCpfFormated"></dxi-column>
            <dxi-column dataField="dataEntrada" caption="Entrou" dataType="datetime"></dxi-column>

            <dxi-column type="buttons" caption="Ações">
                <dxi-button icon="trash" hint="Excluir" [onClick]="excluir"></dxi-button>
            </dxi-column>
        </dx-data-grid>
    </div>

</div>
