<dx-toolbar [classList]="'toolbar'">
    <dxi-item location="before">
        <dx-button [classList]="'botoes-toolbar'" icon="back" (onClick)="back()"></dx-button>
    </dxi-item>

    <dxi-item location="before">
        <div [classList]="'label-toolbar'">
            <!--            Produto-->
        </div>
    </dxi-item>

    <dxi-item location="after">
        <dx-button [classList]="'botoes-toolbar'" icon="save" type="success" text="Imprimir"
                   (click)="open()"></dx-button>
    </dxi-item>

</dx-toolbar>

<div #relatorioTemplate>
    <div class="content-block dx-card responsive-paddings">

        <h2>Produtos em estoque</h2>

        <dx-data-grid [classList]="'table-exibir-impressao'" [dataSource]="produtos" keyExpr="id">

            <dxi-column dataField="nome"></dxi-column>
            <dxi-column dataField="precoCompra" format="R$ #.##0,##"></dxi-column>
            <dxi-column dataField="codigoBarras"></dxi-column>
            <dxi-column dataField="quantidadeEstoque"></dxi-column>
        </dx-data-grid>
    </div>

    <div class="content-block dx-card responsive-paddings">

        <h2>Chopes em estoque</h2>

        <dx-data-grid [classList]="'table-exibir-impressao'" [dataSource]="chopes" keyExpr="id">

            <dxi-column dataField="nome"></dxi-column>
            <dxi-column dataField="precoCompra" format="R$ #.##0,##"></dxi-column>
            <dxi-column dataField="quantidadeEstoque" caption="Qtd Estoque (L)"></dxi-column>
            <dxi-column dataField="precoVenda" format="R$ #.##0,##" caption="Preço Venda"></dxi-column>

        </dx-data-grid>
    </div>
</div>
