<dx-toolbar [classList]="'toolbar'">
    <dxi-item location="before">
        <div [classList]="'label-toolbar'">
            Retirar Produtos do Estoque
        </div>
    </dxi-item>

    <dxi-item location="after">
        <dx-button [classList]="'botoes-toolbar'" icon="minus"
                   type="success" text="Remover Itens do Estoque"
                   (onClick)="salvar()"></dx-button>
    </dxi-item>
</dx-toolbar>

<div class="content-block dx-card responsive-paddings">

    <div class="col-sm-8 col-md-6">
        <dx-text-box label="Código de barras" [(value)]="codigoBarras" (onEnterKey)="adicionarProduto()"></dx-text-box>
    </div>

    <div class="actions-table">
        <dx-data-grid [dataSource]="produtosSelecionados" keyExpr="id">
            <dxi-column dataField="nome"></dxi-column>
            <dxi-column dataField="quantidadeEstoque"></dxi-column>
            <dxi-column dataField="quantidadeRemover"></dxi-column>
        </dx-data-grid>
    </div>
</div>


