<dx-toolbar [classList]="'toolbar'">
  <dxi-item location="before">
    <dx-button [classList]="'botoes-toolbar'" icon="back" (onClick)="back()"></dx-button>
  </dxi-item>

  <dxi-item location="before">
    <div [classList]="'label-toolbar'">
      Cadastrar Usuário
    </div>
  </dxi-item>

  <dxi-item location="after">
    <dx-button [classList]="'botoes-toolbar'" icon="save" type="success" text="Salvar"
               (onClick)="salvar()"></dx-button>
  </dxi-item>

  <dxi-item location="after">
    <dx-button [classList]="'botoes-toolbar'" icon="trash" type="danger" text="Excluir"
               (onClick)="excluir()"></dx-button>
  </dxi-item>

</dx-toolbar>

<div class="content-block dx-card responsive-paddings">
  <ng-container>
    <dx-form #formulario [formData]="{}" [labelLocation]="labelLocation">

      <dxi-item  [dataField]="'Nome'"></dxi-item>

      <dxi-item  [dataField]="'Biometria'">
        <dx-button [text]="'Registrar leitura biométrica'" type="default"></dx-button>
      </dxi-item>
    </dx-form>


  </ng-container>
</div>

