<dx-load-panel
    [hideOnOutsideClick]="false"
    [(visible)]="isLoadPanelVisible">
</dx-load-panel>
<dx-toolbar [classList]="'toolbar'">
  <dxi-item location="before">
    <dx-button [classList]="'botoes-toolbar'" icon="back" (onClick)="back()"></dx-button>
  </dxi-item>

  <dxi-item location="before">
    <div [classList]="'label-toolbar'">
      Cliente
    </div>
  </dxi-item>

  <dxi-item location="after">
    <dx-button [classList]="'botoes-toolbar'" icon="save" type="success" text="Salvar"
               (onClick)="onSalvar($event)"></dx-button>
  </dxi-item>

  <dxi-item location="after">
    <dx-button [visible]="excluirVisible()" [classList]="'botoes-toolbar'" icon="trash" type="danger" text="Excluir"
               (onClick)="excluir()"></dx-button>
  </dxi-item>

</dx-toolbar>

<div class="content-block dx-card responsive-paddings">
  <ng-container>
    <dx-form #formulario [formData]="entidade" [labelLocation]="labelLocation">

      <dxi-item  [dataField]="'nome'">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item  [dataField]="'cpf'" [editorOptions]="{mask:  '000.000.000-00'}">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item  [dataField]="'telefone'" [editorOptions]="{mask:  '(00) 00000-0000'}">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item  [dataField]="'email'" [text]="'E-mail'" [editorOptions]="{ stylingMode: 'filled', mode: 'email' }"></dxi-item>

    </dx-form>


  </ng-container>
</div>

